.footer
{
    background-color: white;
}
.footerImg
{
    width: 200px;
}

/* styles.css */
.socialIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
    width: 80%;
}

.footerImg {
    flex: 1 1 calc(25% - 50px); /* 4 items per row, accounting for gap */
    box-sizing: border-box;
    text-align: center;
    max-width: 30px;
}
.footerLogo
{
    width: 200px;
}